* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 
 body {
     background-color: #4d555f;
     font-family: "Franklin Gothic" ;
     overflow-x: hidden;
 }
 
 .btn {
     border: none;
     font-weight: 600;
     padding: 10px 40px;
     color: #FFFFFF;
     cursor: pointer;
 }
 .btn-outline {
     border: 1px solid  #8bb7a2;
     background-color: transparent;
 }
 .btn-fill {
     background-color:  #25523c;
 }
 .btn-lg {
     padding: 18px 38px;
     font-size: 16px;
 }
 .container {
     max-width: 78rem;
     margin: 0 auto;
 }
 
 .navbar {
     display: flex;
     justify-content: space-between;
     height: 14vh;
     align-items: center;
 }
 
 .navbar .logo-container {
     flex: 2;
 }
 .navbar .logo-container img {
     width: 110px;
 }
 .navbar .list {
     list-style-type: none;
     display: flex;
     align-items: center;
     gap: 40px;
     flex: 2.4;
     padding-bottom: 30px;
 }
 .navbar .list .list-item a {
     text-decoration: none;
     color: #FFFFFF
 }
 .navbar div:last-child {
     margin-bottom: 30px;
 }
 
 @media only screen and (max-width: 1108px) {
     .navbar .logo-container {
         flex: 1.2;
     }
 }
 @media only screen and (max-width: 925px) {
     .navbar {
         padding: 0 20px;
         position: relative;
     }
 
     .navbar .list {
         display:  flex;
         justify-content: center;
         gap: 12px;
         padding-top: 25px;
         align-items: center;
         margin-left:  10px;
         font-size: 10px;
     }
     .navbar .list ~ div {
         margin-bottom: 7px;
         margin-right: 10px;
         padding-top:  7px;
         padding-bottom: 7px;
         padding-left:  7px;
         padding-right: 7px;
         font-size:  7px;
         cursor: pointer;
     }
 
 }
 
 .hero {
     display: flex;
     justify-content: center;
     gap: 90px;
     align-items: center;
     height: 85vh;
     padding-bottom: 20px;
 }
 .hero-left .hero-image {
     width: 28rem;
     height: 580px;
     border-radius: 10px;
     overflow: hidden;
 }
 .hero-left .hero-image img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .hero .hero-right h1 {
     font-family: "Franklin Gothic" ;
     font-size: 4.4rem;
     color: #FFFFFF;
     line-height: 75px;
 }
 .hero .hero-right p {
     color: #cccccc;
     margin-top: 40px;
     line-height: 30px;
     font-size: 1.4rem;
     margin-bottom: 40px;
 }
 .hero .hero-right .contact-email {
     position: relative;
 }
 .hero .hero-right .contact-email input[type="email"] {
     padding: 28px 190px 28px 20px;
     width: 23rem;
     outline: none;
 }
 .hero .hero-right .contact-email input[type="email"]::placeholder {
    
     font-size: 16px;
     color: #5c5858;
 }
 .hero .hero-right .contact-email button {
     margin-right: -52px;
     position: absolute;
     right: 20px;
     top: 10px;
     cursor: pointer;
 }
 
 @media only screen and (max-width: 1149px) {
     .hero .hero-right h1 {
         font-size: 2.8rem;
         line-height: 50px;
     }
     .hero .hero-right p {
         font-size: 1rem;
         margin-top: 20px;
     }
     .hero .hero-right .contact-email input[type="email"] {
         padding: 22px 190px 22px 20px;
         width: 12rem;
         margin-left: 68px;
     }
     .hero .hero-right .contact-email button  {
         margin-right: 120px;
         padding-top: 10px;
         padding-bottom: 10px;
         padding-left: 20px;
         padding-right: 20px;
     }
     .hero-left .hero-image {
         width: 22rem;
         height: 420px;
     }
 }
 @media only screen and (max-width: 900px) {
     .hero {
         gap: 20px;
         flex-wrap: wrap;
         height: auto;
         align-items: center;
         margin: 0 20px 20px 20px;
         justify-content: center;
     }
     .hero .hero-right h1 {
         text-align: center;
         padding-left: 10px;
         font-size: 2.4rem;
         line-height: 40px;
     }
     .hero .hero-right p {
         text-align: center;
         padding: 0 20px;
         line-height: 24px;
         font-size: 14px;
     }
     .hero .hero-right .contact-email input[type="email"] {
         padding: 22px 200px 22px 20px;
         width: 12rem;
         display: block;
     }
 
  }
 
 .connecting-wrapper {
     background-color: #FFFFFF;
     position: absolute;
     left: 0;
     right: 0;
 }
 .connecting {
     max-width: 78rem;
     margin: 110px auto 0 auto;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .connecting h2 {
     font-family: "Franklin Gothic" ;
     font-size: 2.6rem;
     text-align: center;
     color: #1b1d21;
     padding-bottom: 60px;
 }
 .connecting .connecting-right .connecting-img {
     max-width: 78rem;
     height: 550px;
     overflow: hidden;
 }
 .connecting .connecting-right .connecting-img img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: top;
 }
 .connecting .connecting-left {
     display: flex;
     flex-direction: column;
     width: 100%;
 }
 .connecting .connecting-left .connecting-stats {
     display: flex;
     align-items: center;
     justify-content: space-around;
     width: 100%;
     text-align: center;
 }
 .connecting .connecting-left .connecting-stats .stat h4 {
     font-size: 2.4rem;
     font-weight: 700;
 }
 .connecting .connecting-left .connecting-stats .stat p {
     font-weight: 600;
     color: #353131;
     padding-top: 10px;
     padding-bottom: 60px;
     font-size: 17px;
 }
 
 @media only screen and (max-width: 740px) {
     .connecting .connecting-left .connecting-stats {
         flex-wrap: wrap;
     }
 }
 
 .webdesign-wrapper {
     background-color: #FFFFFF;
     position: absolute;
     left: 0;
     right: 0;
     top: 230vh;
     padding-top: 150px;
     
     
 }
 .webdesign-wrapper h2 {
     font-family: "Franklin Gothic" ;
     font-size: 2.9rem;
     text-align: center;
     color: #32363f;
     padding-bottom: 20px;
     font-weight: 900;
 }
 .webdesign {
     max-width: 78rem;
     margin: 40px auto 0 auto;
     display: flex;
     justify-content: center;
     gap: 90px;
     align-items: center;
     flex-wrap: wrap;
 }
 .webdesign .webdesign-left h4 {
     font-size: 2.5rem;
     color: #1b1d21;
     padding-bottom: 30px;
     font-weight: 700;
     font-family: "Franklin Gothic" ;
 }
 .webdesign .webdesign-left p {
     font-size: 1.2rem;
     color: #352d2d;
     font-weight: 600;
     padding-bottom: 30px;
 }
 
 .webdesign-right .webdesign-img {
     width: 34rem;
     height: 600px;
     overflow: hidden;
 }
 .webdesign-right .webdesign-img img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: right;
 }
 
 @media only screen and (max-width: 1134px) {
     .webdesign .webdesign-left h4 {
         font-size: 1.8rem;
     }
     .webdesign .webdesign-left p {
         font-size: .9rem;
     }
     .webdesign-right .webdesign-img {
         width: 24rem;
         height: 400px;
     }
 }
 
 .marketing-wrapper {
     background-color: #FFFFFF;
     position: absolute;
     left: 0;
     right: 0;
     top: 350vh;
     padding-top: 50px;
     padding-bottom: 80px;
     
 }
 .marketing {
     max-width: 78rem;
     margin: 40px auto 0 auto;
     display: flex;
     justify-content: center;
     gap: 90px;
     align-items: center;
     flex-wrap: wrap;
 }
 .marketing .marketing-left {
     order: 2;
 }
 .marketing .marketing-left h4 {
     font-size: 2.5rem;
     color: #464d5c;
     padding-bottom: 30px;
     font-weight: 700;
     font-family: "Franklin Gothic" ;
 }
 .marketing .marketing-left p {
     font-size: 1.2rem;
     color: #575555;
     font-weight: 600;
     padding-bottom: 30px;
 }
 .marketing-right {
     order: 1;
 }
 .marketing-right .marketing-img {
     width: 34rem;
     height: 500px;
     overflow: hidden;
 }
 .marketing-right .marketing-img img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: top;
 }
 
 @media only screen and (max-width: 1134px) {
     .marketing .marketing-left h4 {
         font-size: 1.8rem;
     }
     .marketing .marketing-left p {
         font-size: .9rem;
     }
     .marketing-right .marketing-img {
         width: 24rem;
         height: 400px;
     }
     .marketing-wrapper {
         top: 320vh;
     }
 }
 @media only screen and (max-width: 870px) {
     .marketing-wrapper  {
         top: 370vh;
     }
     .marketing .marketing-left {
         order: -1;
     }
 }
 
 .judging {
     max-width: 78rem;
     margin: 40px auto 0 auto;
     display: flex;
     justify-content: center;
     gap: 90px;
     align-items: center;
     padding-top: 40px;
     flex-wrap: wrap;
 
 }
 .judging .judging-left h4 {
     font-size: 2.5rem;
     color: #292c33;
     padding-bottom: 30px;
     font-weight: 700;
     font-family: "Franklin Gothic" ;
 }
 .judging .judging-left p {
     font-size: 1.2rem;
     color: #6b6767;
     font-weight: 600;
     padding-bottom: 30px;
 }
 
 .judging-right .judging-img {
     width: 34rem;
     height: 500px;
     overflow: hidden;
 }
 .judging-right .judging-img img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
 }
 @media only screen and (max-width: 1134px) {
     .judging .judging-left h4 {
         font-size: 1.8rem;
     }
     .judging .judging-left p {
         font-size: .9rem;
     }
     .judging-right .judging-img {
         width: 24rem;
         height: 400px;
     }
 }
 
 .team-section {
     max-width: 78rem;
     margin: 40px auto 40px auto;
     padding-top: 120px;
 }
 .team-section .team-headline {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
 }
 .team-section .team-headline h1 {
     font-size: 2.8rem;
     font-family: "Franklin Gothic" ;
     color: #1c1f25;
 }
 .team-section .team-headline p {
     font-size: 1.2rem;
     color: #4d4848;
     line-height: 30px;
     font-weight: 500;
 }
 .tema-info {
     display: flex;
     justify-content: space-between;
     padding-top: 60px;
     flex-wrap: wrap;
 }
 .tema-info .team-card .team-image {
     width: 350px;
     height: 440px;
     overflow: hidden;
 }
 .tema-info .team-card .team-image img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: top;
 }
 .tema-info .team-card h4 {
     font-size: 1.2rem;
     color: #232831;
     padding: 15px 0px;
 }
 .tema-info .team-card p {
     color: #292626;
 }
 .team-section .team-btn {
     text-align: center;
     padding-top: 50px;
 }
 .team-section .team-btn button {
     padding: 20px 60px;
 }
 
 
 @media only screen and (max-width: 874px) {
     .team-section {
         max-width: 78rem;
         margin: 40px auto 40px auto;
         padding-top: 180px;
         height: auto;
 
     }
     .team-section .team-headline p {
         font-size: .9rem;
         margin-top: 10px;
     }
     .tema-info {
         display: flex;
         gap: 40px;
         align-items: center;
         justify-content: center;
         width: 100%;
     }
 }
 
 
 .footer-wraper {
     position: absolute;
     left: 0;
     right: 0;
     background-color: #27343b;
     top: 681vh;
 
 }
 .footer-wraper .footer {
     max-width: 78rem;
     margin: 0 auto;
     color: #FFFFFF;
 }
 .footer-wraper .footer .footer-logo {
     display: flex;
     justify-content: space-between;
     height: 180px;
     align-items: center;
     flex-wrap: wrap;
 }
 .footer-wraper .footer .footer-logo ul {
     list-style-type: none;
     display: flex;
     gap: 40px;
     flex-wrap: wrap;
 }
 .footer-wraper .footer .footer-logo ul li span {
     background-color: rgba(80, 71, 71, 0.093);
     height: 50px;
     width: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     border-radius: 500px;
     cursor: pointer;
 }
 
 .footer-wraper .footer .footer-logo ul li span:hover {
     background-color: rgba(139, 0, 219, 0.808);
     height: 50px;
     width: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     border-radius: 500px;
     cursor: pointer;
 }
 
 .footer-navbar {
     display: flex;
     justify-content: space-between;
     padding-top: 80px;
     padding-bottom: 100px;
     flex-wrap: wrap;
 }
 .footer-navbar .navbar-list h4 {
     padding-bottom: 20px;
     font-size: 1.2rem;
     
     font-weight: normal;
 }
 .footer-navbar .navbar-list ul {
     display: flex;
     flex-direction: column;
     gap: 20px;
     list-style-type: none;
     color: #443e3e;
     font-size: 14px;
     font-weight: 600;
 }
 .footer-navbar .navbar-list ul li {
     color: #1a1919f6;
     cursor: pointer;
 }
 
 .footer-navbar .navbar-list ul li:hover {
     color: #ffffff;
     cursor: pointer;
 }
 
 .footer .hr {
     height: 1px;
     background-color: rgba(107, 104, 104, 0.093);
     width: 100%;
     display: block;
 }
 
 @media only screen and (max-width: 1150px) {
     .footer-wraper {
         top: 760vh
     }
     .footer-navbar {
         gap: 40px;
         justify-content: space-around;
     }
 }
 @media only screen and (max-width: 857px) {
     .footer-wraper {
         top:900vh
     }
 }
 @media only screen and (max-width: 700px) {
     .footer-wraper {
         top: 1005vh;
     }
 }